* {
    margin: 0;
}

h2 {

}

.card-container {
    background-color: skyblue;
    width: 90%;
    margin: 20px auto;
    border-radius: 4px 4px 0px 0px;
}

.hero-image {
    background-color: slateblue;
    height: 170px;
    border-radius: 4px 4px 0px 0px;
}

.name-title {
    padding: 20px 10px;
    color: snow;
}

.name {
    margin-bottom: 5px;
}

.title {
    font-size: 12px;
}