* {
    margin: 0;
}
body {
    background-color: #f1f1f1;
}

.hero-image {
    height: 200px;
    background-image: url('https://assets.codepen.io/6060109/girl.jpg');
    background-size: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.name-title {
    padding: 20px 10px;
    color: white;
}